body {
  background: #d6ad7d;
  height: 97vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative; 
}

.canvas {
  width: 250px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 99, 71, 0);
}

.block-white{
  width: 90px;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.447);
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(-50%,-50%);
  z-index: -3;
}

.pixel {
  width: 10px;
  height: 10px;
  float: left;
  box-shadow: 0px 0px 1px #b5acacb0;

}

.pixel:nth-child(110), 
.pixel:nth-child(112),  
.pixel:nth-child(113),  
.pixel:nth-child(134), 
.pixel:nth-child(183), 
.pixel:nth-child(208), 
.pixel:nth-child(234),
.pixel:nth-child(260),
.pixel:nth-child(261),
.pixel:nth-child(262),
.pixel:nth-child(263),
.pixel:nth-child(239),
.pixel:nth-child(215),
.pixel:nth-child(190),
.pixel:nth-child(165),
.pixel:nth-child(139),
.pixel:nth-child(111),
.pixel:nth-child(161),
.pixel:nth-child(186),
.pixel:nth-child(211),
.pixel:nth-child(212),
.pixel:nth-child(187),
.pixel:nth-child(188),
.pixel:nth-child(137),
.pixel:nth-child(162),
.pixel:nth-child(163),
.pixel:nth-child(213),
.pixel:nth-child(214),
.pixel:nth-child(209),
.pixel:nth-child(210),
.pixel:nth-child(184),
.pixel:nth-child(185),
.pixel:nth-child(159),
.pixel:nth-child(160),
.pixel:nth-child(135),
.pixel:nth-child(136),
.pixel:nth-child(189),
.pixel:nth-child(164),
.pixel:nth-child(235),
.pixel:nth-child(236),
.pixel:nth-child(237),
.pixel:nth-child(138),
.pixel:nth-child(238) {
    transition: transform 0.5s ease;
}

.pixel:nth-child(178),
.pixel:nth-child(179),
.pixel:nth-child(154),
.pixel:nth-child(130),
.pixel:nth-child(131),
.pixel:nth-child(107),
.pixel:nth-child(108),

.pixel:nth-child(110),
.pixel:nth-child(111),
.pixel:nth-child(112),
.pixel:nth-child(113),

.pixel:nth-child(134),
.pixel:nth-child(158),
.pixel:nth-child(183),
.pixel:nth-child(208),
.pixel:nth-child(234),
.pixel:nth-child(260),
.pixel:nth-child(261),
.pixel:nth-child(262),
.pixel:nth-child(263),

.pixel:nth-child(239),
.pixel:nth-child(215),
.pixel:nth-child(190),
.pixel:nth-child(165),
.pixel:nth-child(139),


.pixel:nth-child(84),
.pixel:nth-child(85),
.pixel:nth-child(86),
/*
.pixel:nth-child(62),
.pixel:nth-child(61),
.pixel:nth-child(63),
.pixel:nth-child(60),*/

.pixel:nth-child(87),
.pixel:nth-child(88),
.pixel:nth-child(89),
.pixel:nth-child(115),
.pixel:nth-child(116),
.pixel:nth-child(142),
.pixel:nth-child(143),

.pixel:nth-child(169),

.pixel:nth-child(195),

.pixel:nth-child(220),
.pixel:nth-child(244),
.pixel:nth-child(268),
.pixel:nth-child(292),


.pixel:nth-child(203),
.pixel:nth-child(202),

.pixel:nth-child(255),
.pixel:nth-child(281),

.pixel:nth-child(282),

.pixel:nth-child(308),
.pixel:nth-child(309),
.pixel:nth-child(310),
.pixel:nth-child(311),
.pixel:nth-child(312),
.pixel:nth-child(313),
.pixel:nth-child(314),
.pixel:nth-child(315),

.pixel:nth-child(291),

/*interior of the eye*/
.pixel:nth-child(161),
.pixel:nth-child(186),
.pixel:nth-child(211),
.pixel:nth-child(212),
.pixel:nth-child(187),
.pixel:nth-child(188),

.pixel:nth-child(229)
{
  background: black;
}



.pixel:nth-child(213),
.pixel:nth-child(214),
.pixel:nth-child(209),
.pixel:nth-child(210),
.pixel:nth-child(184),
.pixel:nth-child(185),
.pixel:nth-child(159),
.pixel:nth-child(160),
.pixel:nth-child(135),
.pixel:nth-child(136),
.pixel:nth-child(189),
.pixel:nth-child(164),

.pixel:nth-child(235),
.pixel:nth-child(236),
.pixel:nth-child(237),
.pixel:nth-child(138),
.pixel:nth-child(238){
  background: blue;
}

.pixel:nth-child(137),
.pixel:nth-child(162),
.pixel:nth-child(163){
  background: white;
}


.pixel:nth-child(133),
.pixel:nth-child(132),
.pixel:nth-child(114),
.pixel:nth-child(140),
.pixel:nth-child(141),
.pixel:nth-child(157),
.pixel:nth-child(156),
.pixel:nth-child(155),
.pixel:nth-child(166),
.pixel:nth-child(167),
.pixel:nth-child(168),
.pixel:nth-child(182),
.pixel:nth-child(181),
.pixel:nth-child(180),

.pixel:nth-child(191),
.pixel:nth-child(192),
.pixel:nth-child(193),
.pixel:nth-child(194),
.pixel:nth-child(204),
.pixel:nth-child(205),
.pixel:nth-child(206),
.pixel:nth-child(207),
.pixel:nth-child(216),
.pixel:nth-child(217),
.pixel:nth-child(218),
.pixel:nth-child(219),
.pixel:nth-child(230),
.pixel:nth-child(231),
.pixel:nth-child(232),
.pixel:nth-child(233),
.pixel:nth-child(240),
.pixel:nth-child(241),
.pixel:nth-child(242),
.pixel:nth-child(243),
.pixel:nth-child(256),
.pixel:nth-child(257),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(264),
.pixel:nth-child(265),
.pixel:nth-child(266),
.pixel:nth-child(267),

.pixel:nth-child(283),
.pixel:nth-child(284),
.pixel:nth-child(285),
.pixel:nth-child(286),
.pixel:nth-child(287),
.pixel:nth-child(288),
.pixel:nth-child(289),
.pixel:nth-child(290),


.pixel:nth-child(109){
  background: rgb(250, 249, 249);
}

/*@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }*/
